#HBox {
	-fx-alignment: center;
	-fx-spacing: 10;
}

#HBoxCards {
	-fx-alignment: center;
	-fx-spacing: 2;
}

#HBoxPoints {
	-fx-alignment: center;
	-fx-spacing: 20;
} 

#HBoxTop {
	-fx-alignment: baseline-right;
	-fx-spacing: 10;
	-fx-padding: 20 0 0 20;
}

#HBoxRight {
	-fx-alignment: baseline-right;
	-fx-spacing: 10;
}

#VBox {
	-fx-alignment: center;
	-fx-spacing: 20;
	-fx-padding: 0 20 20 20;
}

#VBoxCards {
	-fx-alignment: center;
	-fx-spacing: 2;
	-fx-padding: 0 0 0 0;
}

#VBoxPoints {
	-fx-padding: 0 0 0 0;
	-fx-spacing: 15;
	-fx-alignment: top-center;
	-fx-background-color: rgba(255, 236, 111, 0.8);
}

#VBoxMessage {
	-fx-padding: 0 0 0 0;
	-fx-alignment: top-center;
	-fx-spacing: 2;
	-fx-background-color: rgba(255, 236, 111, 1);
}

#VBoxP1 {
	-fx-alignment: center;
	-fx-spacing: 0;
	-fx-padding: 0 0 0 0;
}

#VBoxP2 {
	-fx-alignment: center;
	-fx-spacing: 0;
	-fx-padding: 40 0 40 0;
}

#VBoxP3 {
	-fx-alignment: center;
	-fx-spacing: 0;
	-fx-padding: 0 0 0 0;
}

#VBoxP4 {
	-fx-alignment: center;
	-fx-spacing: 0;
	-fx-padding: 40 0 40 0;
}

#VBoxControls {
	-fx-alignment: center;
	-fx-spacing: 0;
	-fx-padding: 20 0 20 0;
}

#root {
	-fx-background-color: rgba(175, 175, 175, 1);
	-fx-alignment: center;
}

#rootleft {
	-fx-background-color: rgba(60, 145, 77, 1);
	-fx-alignment: top-left;
}

#playerArea {
	-fx-alignment: center;
	-fx-padding: 10 10 10 10;
	-fx-spacing: 5;
}

#popup {
	-fx-background-color: rgba(185, 185, 185, 0.8);
	-fx-alignment: center;
	-fx-padding: 20 20 20 20;
}

#popupError {
	-fx-background-color: rgba(255, 94, 82, 0.8);
	-fx-alignment: center;
	-fx-padding: 20 20 20 20;
}

#titel {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
  	-fx-text-fill: rgba(62, 132, 187, 1);
  	-fx-alignment: center;
  	-fx-text-alignment: center;
}

#subtitel {
	-fx-font-size: 24px;
  	-fx-text-fill: rgba(62, 132, 187, 1);
  	-fx-alignment: center;
  	-fx-text-alignment: center;
}

.label {
	-fx-font-size: 16px;
  	-fx-text-fill: rgba(50, 50, 50, 1);
  	-fx-alignment: center;
  	-fx-text-alignment: center;
}

#LabelWait {
	-fx-font-size: 16px;
  	-fx-text-fill: rgba(255, 255, 255, 1);
  	-fx-alignment: center;
  	-fx-text-alignment: center;
}

.button {
	-fx-background-color: rgba(62, 132, 187, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
	-fx-background-radius: 15px;
}

#ButtonSend {
	-fx-background-color: rgba(62, 132, 187, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
	-fx-background-radius: 0px;
}

#ButtonSend:hover {
	-fx-background-color: rgba(54, 116, 164, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
}

.button:hover {
	-fx-background-color: rgba(54, 116, 164, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
}

.button:disabled {
	-fx-text-fill: rgba(255, 255, 255, 1);
}

.text-area{
    -fx-background-color: #fff, #fff;
}

.text-area .content {
    -fx-background-color: #fff;
}

.text-area:focused .content {
    -fx-background-color: #fff;
}
.text-field {
	-fx-background-radius: 15px;
	-fx-alignment: center;
	-fx-padding: 5 0 5 0;
	-fx-focus-color: rgba(62, 132, 187, 1);
}

#TextFieldMessage {
	-fx-background-radius: 0px;
	-fx-alignment: center-left;
	-fx-padding: 5 5 5 5;
	-fx-focus-color: rgba(62, 132, 187, 1);
}

.list-view {
	-fx-background-color: rgba(175, 175, 175, 1);
	-fx-spacing: 20;
}

.indexed-cell:even {
	-fx-background-color: rgba(175, 175, 175, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
	-fx-padding: 5 0 5 5;
	-fx-spacing: 20;
}

.indexed-cell:odd {
	-fx-background-color: rgba(175, 175, 175, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
	-fx-padding: 5 0 5 5;
	-fx-spacing: 20;
}

.menu-bar {
  	-fx-background-color: rgba(120, 120, 120, 1);
}

.cell {
	-fx-text-fill: black;
	-fx-padding: 5 0 5 0;
	-fx-spacing: 20;
	-fx-border-color: rgba(175, 175, 175, 1);
    -fx-border-width: 10 0 10 0;
}

.cell:filled {
	-fx-background-color: rgba(62, 132, 187, 1);
	-fx-text-fill: white;
}

.cell:selected {
	-fx-background-color: rgba(121, 255, 136, 1);
}

.check-box {

}

#Card{
	-fx-opacity:1;
}

#Card:disabled{
	-fx-opacity:0.6;
}

